.go-back{
margin-top: 2em;
background-color:#2196F3;
  color: white;

}
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
   
  }



  .card {
    width: 15em;
    height: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
  .price {
    color: #212121;
    font-size: 22px;
  }
  
  .card .button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#2196F3;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin:.25em;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .edit-button{
    color: white;
    background-color:#9C27B0 ;
  }