{% load static  %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  .input-container {
    margin-left: 16.5em;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 50%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    margin-left: 20em;
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }


  span{
    margin-left: 20em;
  }

  h2{
    margin-left: 20em;
  }
  </style>




<form action="{% url 'accounts:signup' %}" method="post" >
  {% csrf_token %}
 
  <span><h2>Register Form</h2></span>
  <div class="input-container">
    <i class="fa fa-user icon" ></i>
    <input class="input-field" type="text" placeholder="Username" name="username">
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password1">
  </div>
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Confirm Password" name="password2">
  </div>
  <button type="submit" class="btn">Register</button>
</form>





<span>Already have an account? <a href="{% url 'accounts:login' %}">Sign in</a></span>


  {% for message  in messages  %}
  <p>{{message}}</p>    
  {% endfor %}


