.text{
    margin-left: 15em;
}


.signup{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke ;
    width: 42em;
    margin-left:9em;
}




.label{ 
    margin-left: 9em;
    
}

input{
    padding: .5em
    
}
#signup{
   
    margin-top: .5em;
}