
{% load  static  %}
<p>{{error_message}}</p>
<form  method="post" >
    {% csrf_token %}
    
    
    <table>
        <tr>
            <th>{{form.client.label_tag}}</th>
            <th>{{form.room.label_tag}}</th>
            <th>{{form.begin.label_tag}}</th>
            <th>{{form.end.label_tag}}</th>
        </tr>
        <tr>
            
            <td>{{ form.client }}</td>
            <td>{{form.room}}</td>
            <td>{{form.begin}}</td>
            <td>{{form.end}}</td>
        </tr>
    </table>
        <input type="submit" value="Submit">
 </form>