
{% load  static  %}
<link rel="stylesheet" href="{%  static 'hosting/bookroom.css'%}">

<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{error_message}}
  </div>
<form  method="post" >
    {% csrf_token %}
    
    
    <table class="book-room">
        <tr>
            <th>{{form.client.label_tag}}</th>
            <th>{{form.room.label_tag}}</th>
            <th>{{form.begin.label_tag}}</th>
            <th>{{form.end.label_tag}}</th>
        </tr>
        <tr>
            
            <td>{{ form.client }}</td>
            <td>{{form.room}}</td>
            <td>{{form.begin}}</td>
            <td>{{form.end}}</td>
        </tr>
    </table>
        <input type="submit" value="Book" id="button">
 </form>