{% block title %}
  <h2>Edit room {{name}}</h2>
{% endblock title %}


{% block content %}

<form  method="post">
{% csrf_token %}

    <table class="edit">
        <tr>
            <th>{{ form.image_url.label_tag }}</th>
            <th>{{ form.name.label_tag }}</th>
            <th>{{form.description.label_tag}}</th>
            <th>{{form.price.label_tag}}</th>
            <th>{{form.location.label_tag}}</th>
            
            
        </tr>
        <tr>
            <td>{{ form.image_url}}</td>
            <td>{{ form.name }}</td>
            <td>{{form.description}}</td>
            <td>{{form.price}}</td>
            <td>{{form.location}}</td>
        </tr>

       
    </table>
    <input type="submit" value="Submit">
</form>
  
{% endblock content %}